body{
    background: azure;
}



.top_menu {
    height: 80px;
    /*background: cyan;*/

    /*background: blue;*/
    background: rgba(255,122,111,0.5);
    /*background: #03c;*/
    /*类选择器*/
}
.title{
        /*background: blue;*/
        width: 350px;
        color: #fff;
        font: bold 32px/80px 微软雅黑;
        text-align: center;
        float: left;

}
.menu_list{
        /*width: 1300px;*/
        height: 80px;
        width: 60%;
        float: left;
        font: bold 32px/80px 微软雅黑;
        /*text-align: right;*/
        color: #525D76;
        /*background: aquamarine;*/

}

.menu_list a:hover{
    background: blanchedalmond;

}

.top_user{
    float: right;
    font: normal 16px/40px "Microsoft YaHei UI";
    margin: 30px 40px;

}

#tj{
    width: 100px;
    height: 40px;
    background: #9ad2ed;
}
#qk{
    width: 100px;
    height: 40px;
    background: white;
}

h1 {
        width: 300px; /* 设置宽度为300像素 */
        height: 100px; /* 设置高度为100像素 */
        /*background-color: lightblue; !* 设置背景颜色 *!*/
        padding: 20px; /* 设置内边距 */
        text-align: center; /* 文本居中对齐 */
        line-height: 50px; /* 设置行高与高度相同，实现垂直居中 */
    }
.box{
            height: 60px;
            margin: 20px auto 0 30px;

        }
        /*.menu ul{*/
        /*    margin: 0;*/
        /*}*/

        .menu li{
            margin-right: 10px;
            width: 150px;
            font: normal 18px/60px "Microsoft YaHei UI";
            float: left;
            /*background: #9ad2ed;*/
            text-align: center;
        }
        .menu .cur{
            background: #9ad2ed;
        }

        .content{
            width: 100%;
            /*margin-top: 10px;*/
            float: left;
        }

        .content div{
            background: #9ad2ed;
            /*margin-top: 10px;*/
            width: 100%;
            height: 350px;
            display: none;
            color: black;
        }

        .content .active{
            display: block;
        }
        .tables tr{
            height: 40px;

        }

        .tables th{
            height: 40px;
            border: solid 2px #525D76;

        }
        .tables td{
            height: 40px;
            border: solid 2px #525D76;

        }
        .tables input{
            line-height: 40px;
            width: 95%;

        }


/*.cur{*/
/*            background: #9ad2ed;*/
/*        }*/