<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
    <script type="text/javascript" src="../static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../static/main.js"></script>
    <link rel="stylesheet" href="../static/reset.css" type="text/css">
    <link rel="stylesheet" href="../static/ht.css">


</head>
<body>

<!-- 顶部项目栏-->
<div class="top_menu">

    <div class="title">测试平台</div>
    <div class="menu_list">
        首页
    </div>

    <div class="top_user">
        <a href="">注销用户</a>
    </div>


</div>
    <!--<div>-->
    <!--<h1 class="cur">项目:test-1</h1>-->
    <!--    <form action="">-->

    <!--    <input id="tj" type="button" value="统计覆盖率">-->
    <!--    <input id="qk" type="button" value="清空历史覆盖率">-->

    <!--    </form>-->
    <!--    <iframe src="" width="100%" height="600px" id="myframe"></iframe>-->

    <!--</div>-->
<div class="box">
        <div class="menu">
            <ul>
                <li class="cur">项目A</li>
                <li>项目B</li>
                <li>项目C</li>
            </ul>
        </div>

        <div class="content">
            <div class="active">
    <!--                <input type="button" class="add_data" value="添加header">-->
    <!--                <input type="button" class="del_data" value="删除header">-->

                    <form action="">

                    <input class="tja" type="button" value="统计覆盖率">
                    <input class="qka" type="button" value="清空历史覆盖率">

                    </form>
                    <iframe src="" width="100%" height="600px" class="myframea"></iframe>


            </div>




            <div >
    <!--                <input type="button" class="add_data" value="添加header">-->
    <!--                <input type="button" class="del_data" value="删除header">-->

                    <form action="">

                    <input class="tjb" type="button" value="统计覆盖率b">
                    <input class="qkb" type="button" value="清空历史覆盖率b">

                    </form>
                    <iframe src="" width="100%" height="600px" class="myframeb"></iframe>


            </div>




            <div >
    <!--                <input type="button" class="add_data" value="添加header">-->
    <!--                <input type="button" class="del_data" value="删除header">-->

                    <form action="">

                    <input class="tjc" type="button" value="统计覆盖率c">
                    <input class="qkc" type="button" value="清空历史覆盖率c">

                    </form>
                    <iframe src="" width="100%" height="600px" class="myframec"></iframe>


            </div>



        </div>

    </body>


</html>